---
version: "2.1"
services:
  jackett:
    image: {{ jackett.lookup.containers.jackett.image }}
    container_name: jackett
    env_file:
      - {{ jackett.lookup.paths.config_jackett }}
{%- if jackett.install.autoupdate %}
    labels:
      - io.containers.autoupdate=registry
{%- endif %}
    volumes:
      - {{ jackett.lookup.paths.data }}:/config
{%- if jackett.lookup.paths.watch %}
      - {{ jackett.lookup.paths.watch }}:/downloads
{%- endif %}
    ports:
      - {{ jackett.container.host_port }}:{{ jackett.config.general.Port }}
    restart: unless-stopped
